{% extends 'base.html' %}

{% block content %}
<h1>Ingrese los datos del paquete:</h1>
<form method="POST" action="{{ url_for('paquete', sucursal_id=sucursal_id) }}">
    <label for="peso" style="color: white;">Peso del paquete:</label>
    <input type="text" name="peso" required style="color: rgb(0, 0, 0); font-size: 16px; padding: 10px;"><br>

    <label for="nomdestino" style="color: white;">Nombre del destinatario:</label>
    <input type="text" name="nomdestino" required style="color: rgb(0, 0, 0); font-size: 16px; padding: 10px;"><br>

    <label for="dirdestino" style="color: white;">Dirección del destinatario:</label>
    <input type="text" name="dirdestino" required style="color: rgb(0, 0, 0); font-size: 16px; padding: 10px;"><br>
    <input type="submit" value="Registrar paquete" style="background-color: #007bff; color: white; font-size: 16px; padding: 10px; border-radius: 10px;">
</form>
<div style="background-color: #333; color: white; padding: 10px; border-radius: 10px;">
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
{% endblock %}
